body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: lightgreen;
}

.quem-somos {
    background-color: greenyellow;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: aqua;
}

.bg-footer {
    background-color: black;
    color: aliceblue;
}